@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Roboto:wght@300;700&display=swap');
@import url(css/animation.css);
@import url(index.html);

*{
    padding: 0px;
    margin: 0;
    font-family:'Inter', 'sans-serif';
    letter-spacing: 1px;
}

html{
  scroll-behavior: smooth;
  transition: 1s all;
}
body{
  background:black url(Imagens/1131839.jpg) no-repeat fixed;
  background-size: 100%;
  background-size: 100%;
  background-attachment: fixed;
}

/* Navbar */

header{
  background-color: rgb(43, 36, 46);
  width: 100%;
  height: 75px;
  display: inline-block;
  position: fixed;
  box-shadow: 0px 7px 0px rgba(36, 2, 46, 0.6);
}

nav{
  background-color: rgb(43, 36, 46);
  max-width: 100%;
  height: 75px;
  display: inline-block;
  position: fixed;
  box-shadow: 0px 7px 0px rgba(36, 2, 46, 0.6);
}

#title{
    font-family:'Open Sans', 'sans-serif';
    padding-top: 18px;
    padding-left: 80px;
    color: rgba(255, 255, 255, 80%);
}

.menu{
    font-size: 15px;
    font-family: 'Open Sans', 'sans-serif';
    padding-left: 250px;
}

#logo-nav{
  align-items: center;
  display: flex;
  float: left;
  height: 80px;
  margin-left: 20px;
}


/* menus */

.menu li{
  float: left;
}

.options:link {
  color: white;
  background-color: transparent;
  text-decoration: none;

}

.options{
  align-items: center;
  justify-content: center;
  display: flex;
  height: 78px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.5s all;
}

.options:visited {
  color: rgba(255, 255, 255, 80%);
  background-color: transparent;
  text-decoration: none;

}

.options:hover {
  background-color: rgba(137, 43, 226, 0.646);
  box-shadow: 3px 3px 2px rgb(0, 0, 0);
  background-size: 30px;
  text-decoration: none;
  transition: 0.5s all;
}

.options:active {
  color: rgba(255, 255, 255, 80%);
  background-color: transparent;
  text-decoration: none;
  transition: 3s;
}

ul{
    list-style-type: none;
}
/* Boas Vindas */

#inicial{
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 100vh;
}

.logo{
  width: 500px;
  margin-left: 20px;
}

.boas-vindas{
  color: white;
  font-family:'Open Sans', 'sans-serif';
  text-align: center;
  background-color: rgb(43, 36, 46);
  max-width: 400px;
  height: 150px;
  border-radius: 30px;
  box-shadow: 10px 10px 0px rgba(21, 2, 27, 0.6);;
  padding-top: 35px;
}

pre{
  padding: 500px;
}

/* sobre */

#sobre{
  background-color: rgb(43, 36, 46);
  max-width: 100%;
  height: 320px;
  align-items: center;
  text-align: center;
  box-shadow: 2px 2px 2px rgb(43, 36, 46);
}

#fundo_titulo_sobre{
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  max-width: 50%;
  height: 50px;
  background-color: blueviolet;
  margin-left: 400px;
  margin-right: 400px;
  border-radius: 5px;
  box-shadow: 10px 10px 0px rgba(21, 2, 27, 0.6);
}

#P-Sobre{
  color: white;
  font-size: 20px;
  text-shadow: 2px 3px 4px white; 
}

/* Projetos */


#projetos{  
  max-width: 100%;
  height: 100vh;
  background-color: rgb(43, 36, 46);
  box-shadow: 2px 20px 0px rgba(21, 2, 27, 0.6);
  margin-top: 100px;
}

#fundo_titulo_projetos{
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: blueviolet;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 5px;
  box-shadow: 10px 10px 0px rgba(21, 2, 27, 0.6);
}

#box{
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 125vh;
}

#ph1{
  text-align: center;
  color: white;

}

/* Front-end */

.Front{
  background-color: gray;
  width: 58vh;
  height: 100vh;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 20px 20px 0px rgba(21, 2, 27, 0.6);
}

#front{
  margin-left: 20px;
}

#fh1{
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: blueviolet;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 5px;
  box-shadow: 10px 10px 0px rgba(21, 2, 27, 0.6);
}

/* Ninja da computação */

.box_Portifolio{
  padding-top: 150px;
 
}
.portifolio:link {
  color: rgba(255, 255, 255, 100%);
  background-color: rgb(50, 29, 70) ;
  border-radius: 40px;
  padding: 50px 195px;
  margin-left: 23px;
  text-decoration: none;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 30px;
  box-shadow: 10px 10px 0px rgba(21, 2, 27, 0.6);
  transition: 1s all;
}

.portifolio:visited {
  color: rgba(255, 255, 255, 100%);
  background-color: rgb(50, 29, 70) ;
  border-radius: 40px;
  padding: 50px 138px;
  margin-left: 23px;
  text-decoration: none;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 30px;
  box-shadow: 10px 10px 0px rgba(21, 2, 27, 0.6);
  transition: 1s all;
}

.portifolio:hover {
  background-color: blueviolet;
  color: rgb(255, 255, 255);
  background-size: 30px;
  text-decoration: none;
  transition: 1s all;
}

.portifolio:active {
  color: rgba(255, 255, 255, 100%);
  background-color: rgb(50, 29, 70) ;
  border-radius: 40px;
  padding: 50px 138px;
  margin-left: 23px;
  text-decoration: none;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 30px;
  box-shadow: 10px 10px 0px rgba(21, 2, 27, 0.6);
  transition: 1s all;
}

/* proftec */

.box_proftec{
  padding-top: 160px;
 
}
.proftec:link {
  color: rgba(255, 255, 255, 100%);
  background-color: rgb(50, 29, 70) ;
  border-radius: 40px;
  padding: 50px 181px;
  margin-left: 23px;
  text-decoration: none;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 30px;
  box-shadow: 10px 10px 0px rgba(21, 2, 27, 0.6);
  transition: 1s all;
}

.proftec:visited {
  color: rgba(255, 255, 255, 100%);
  background-color: rgb(50, 29, 70) ;
  border-radius: 40px;
  padding: 50px 138px;
  margin-left: 23px;
  text-decoration: none;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 30px;
  box-shadow: 10px 10px 0px rgba(21, 2, 27, 0.6);
  transition: 1s all;
}

.proftec:hover {
  background-color: blueviolet;
  color: rgb(255, 255, 255);
  background-size: 30px;
  text-decoration: none;
  transition: 1s all;
}

.proftec:active {
  color: rgba(255, 255, 255, 100%);
  background-color: rgb(50, 29, 70) ;
  border-radius: 40px;
  padding: 50px 138px;
  margin-left: 23px;
  text-decoration: none;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 30px;
  box-shadow: 10px 10px 0px rgba(21, 2, 27, 0.6);
  transition: 1s all;
}


/* Incio banco de dadOs */

.banco{
  background-color: gray;
  width: 58vh;
  height: 100vh;
  margin-top: 30px;
  margin-right: 30px;
  border-radius: 5px;
  box-shadow: 20px 20px 0px rgba(21, 2, 27, 0.6);
}

#banco{
  margin-left: 20px;
}

#bh1{
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: blueviolet;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 5px;
  box-shadow: 10px 10px 0px rgba(21, 2, 27, 0.6);
}

#bi1{
  margin-left: 155px;
  margin-top: 20px;
}

/* db_discoteca */  
.box_discoteca{
  padding-top: 100px;
 
}

.db_discoteca{
  height: 100px;
  border: 2px solid red;
}
.db_discoteca:link {
  color: rgba(255, 255, 255, 100%);
  background-color: rgb(50, 29, 70) ;
  padding: 100px 100px;
  border-radius: 40px;
  margin-left: 23px;
  text-decoration: none;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 30px;
  box-shadow: 10px 10px 0px rgba(21, 2, 27, 0.6);
  transition: 1s all;
}

.db_discoteca:visited {
  color: rgba(255, 255, 255, 100%);
  background-color: rgb(50, 29, 70) ;
  border-radius: 40px;
  padding: 50px 138px;
  margin-left: 23px;
  text-decoration: none;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 30px;
  box-shadow: 10px 10px 0px rgba(21, 2, 27, 0.6);
  transition: 1s all;
}

.db_discoteca:hover {
  background-color: blueviolet;
  color: rgb(255, 255, 255);
  background-size: 30px;
  text-decoration: none;
  transition: 1s all;
}

.db_discoteca:active {
  color: rgba(255, 255, 255, 100%);
  background-color: rgb(50, 29, 70) ;
  border-radius: 40px;
  padding: 50px 138px;
  margin-left: 23px;
  text-decoration: none;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 30px;
  box-shadow: 10px 10px 0px rgba(21, 2, 27, 0.6);
  transition: 1s all;
}

/* projSA1 */

.box_projSA1{
  padding-top: 100px;
  margin-top: 50px;
 
}
.projSA1:link {
  color: rgba(255, 255, 255, 100%);
  background-color: rgb(50, 29, 70) ;
  border-radius: 40px;
  padding: 50px 153px;
  margin-left: 23px;
  text-decoration: none;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 30px;
  box-shadow: 10px 10px 0px rgba(21, 2, 27, 0.6);
  transition: 1s all;
}

.projSA1:visited {
  color: rgba(255, 255, 255, 100%);
  background-color: rgb(50, 29, 70) ;
  border-radius: 40px;
  padding: 50px 153px;
  margin-left: 23px;
  text-decoration: none;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 30px;
  box-shadow: 10px 10px 0px rgba(21, 2, 27, 0.6);
  transition: 1s all;
}

.projSA1:hover {
  background-color:blueviolet ;
  color: rgb(255, 255, 255);
  background-size: 30px;
  text-decoration: none;
  transition: 1s all
}

.projSA1:active {
  color: rgba(255, 255, 255, 100%);
  background-color: rgb(50, 29, 70) ;
  border-radius: 40px;
  padding: 50px 153px;
  margin-left: 23px;
  text-decoration: none;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 30px;
  box-shadow: 10px 10px 0px rgba(21, 2, 27, 0.6);
  transition: 1s all;
}



/* Escolaridade */


#outros{
  justify-content: space-between;
  display: flex;
  margin-top: 500px;
  padding-top: 20px;
  width: 100%;
  height: 70vh;
  background-color: rgb(43, 36, 46);
  box-shadow: 2px 20px 0px rgba(21, 2, 27, 0.6);
  border: 2px solid red;
  /* overflow: hidden; */
}

#box-escolaridade{
  background-color: gray;
  width: 600px;
  height: 400px;
  padding: 1px;
  margin-left: 40px;
  border-radius: 5px;
  box-shadow: 20px 20px 0px rgba(21, 2, 27, 0.6);
  overflow: hidden;
}

#fundo_titulo_escolaridade{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: 65px;
  color: white;
  background-color: blueviolet;
  border-radius: 5px;
  box-shadow: 10px 10px 0px rgba(21, 2, 27, 0.6);
}
#titulo_escolaridade{
  text-align: center;
  font-size: 15px;
}
#sobre-escolaridade{
  color: white;
  font-size: 20px;
  padding: 20px;
}


#box-experiencia{
  display: block;
  background-color: gray;
  width: 600px;
  height: 400px;
  padding: 1px;
  margin-left: 40px;
  border-radius: 5px;
  box-shadow: 20px 20px 0px rgba(21, 2, 27, 0.6);
}

#fundo_titulo_experiencia{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: 65px;  
  color: white;
  background-color: blueviolet;
  border-radius: 5px;
  box-shadow: 10px 10px 0px rgba(21, 2, 27, 0.6); 
}
#titulo_experiencia{
  text-align: center;
  font-size: 15px;
}
#Experiencia li{
  color: white;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.ESCOLAS:link{
  color: rgb(209, 209, 209);
}
.ESCOLAS:visited{
  color: rgb(209, 209, 209);
}
.ESCOLAS:hover{
  color: rgb(255, 255, 255);
}
.ESCOLAS:active{
  color: rgb(209, 209, 209);
}

#Experiencia{
  color: white;
  padding: 40px;
  list-style: outside;
  font-size: 30px;
}
/* footer */


.footer{
  width: 100%;
  background-color: rgb(43, 36, 46) ;
  margin-top: 500px;
  /* display: flex;
  justify-content: baseline;
  align-items: center; */
}

#footer-logo{
  display: inline-block;
  margin-right: 70px;
}

#footer_copyright{
  font-size: 7px;
}

#footer_content{
  display: inline-block;
  width: 100%;
}

.footer_link{
  width: 35px;
}

.footer_link:link{
  opacity: 60%;
  transition: 1s all;
}

.footer_link:hover{
  opacity: 100%;
  transition: 0.5s all;
  animation: example 1.5s infinite;
}

#footer_contents{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_link{
  padding: 10px;
  display: inline-block;
}

#input_group{
  float: right;
  margin-right: 25px;
}

#footer_copyright{
  color: white;
  text-align: center;
}

button{
  color: red;
  height: 50px;
  width: 80px;
}

input{
  margin-top: 10px;
  width: 250px;
  height: 50px;
}

#input_paragrafo{
  text-align: center;
  color: #f5f5f5;
  font-size: 11px;
  margin-top: 5px;
}